<div class="navigation">
	<nav>
		<ul>
			<li><a href="/" data-page="home">Home</a></li>
			<li><a href="/todo" data-page="todo">Todo</a></li>
			<li><a href="https://markon87.github.io/" target="_blank">markon87.github.io</a></li>
		</ul>
	</nav>
</div>