<div class="navigation">
	<nav>
		<ul>
			<li><a href="/" data-page="home">Home</a></li>
			<li><a href="/todo" data-page="todo">Todo</a></li>
			<li><a href="http://www.mnovakovic.com">mnovakovic.com</a></li>
		</ul>
	</nav>
</div>